*{
  box-sizing: border-box;
}
html body{
  margin: 0%;
  padding: 0;
}
.background{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}


body{
  background-size: cover;
  height: 100%;
  width: 100%;
}
form{
  padding-left: 200px;
  padding-right: 200px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 64, 31);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ebf2ef;
  padding-bottom: 5px;
}

.brand-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}
.navbar-links ul{
margin:0;
padding-right:0;
display: flex;
}
.navbar-links li{
  list-style: none;
  padding-right: 10px;
}
.navbar-links li a{
  color:#2d4f36;
  text-decoration: none;
  display: block;
  padding: 1rem;
}
.navbar-links li a:hover{
  background-color: #51836d;
  border-radius: 20px;
  color: white;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 10px;
}

@media (max-width: 400px){
  .toggle-button{
    display: flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: 1rem .5rem;
  }
  .navbar-links.active{
    display: flex
  }


}
.btn {
  color: #2d4f36;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.btn:hover{
  color: white;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 120px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-items {
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px ;
  background-color: #2d4f36;
  z-index: 1;
  color: white;
}

/* Links inside the dropdown */
.dropdown-items a {
  color: rgb(240, 253, 238);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-items a:hover {background-color: rgb(95, 167, 96)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Start of contact header styling*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #5fa560;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=reset] {
  background-color: #5fa560;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
}


/* Floating column for labels: 25% width */
.col-25 {
  padding-left: 10px;
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  input[type=text]:hover {
	border: 3px solid #555;
	width: 100%;
	animation-name: input;
	animation-duration: 2s;
	animation-fill-mode: forwards;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
  }
  input[type=button], input[type=submit], input[type=reset] {
	background-color: rgb(95, 165, 96);
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	width: 100%;
	border-radius:1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

  /* styling for input field labels*/
  label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(95, 165, 96);
  }

  /* styling for the slider*/

   #slider {
    overflow: hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }
  
  #slider figure img {
    width: 20%;
    float: left;
  }
  
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75%{
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -400%;
    }
  }

/* styling for info cards*/
.card {
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgb(39, 85, 40);
  transition: 1s;
  border-radius: 5px;
  height: 500px;
  width: 30%;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #51836d;
}
.container-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-title{
  text-align: center;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(95, 165, 96);
  }
  .container {
    padding: 2px 16px;
  }
img {
    border-radius: 5px 5px 0 0;
    max-width: auto;
    height: auto;
  }
  #about-cards{
    display: flex;
    justify-content: space-evenly;
  }

  hr.new1 {
    border: 1px solid rgb(255, 121, 197);
    border-radius: 5px;
  }

  .top-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #51836d;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }

  
